:root {
  --black: #000;
  --white: #fff;
  --dark: #1b263b;
  --blue: #415a77;
  --lightblue: #778da9;
  --whiter: #e0e1dd;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
}

header {
  display: flex;
  background-color: var(--blue);
  color: var(--white);
  height: 80px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

header .title {
  font-size: 28px;
  font-weight: 800;
}

.container {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}

.container .left-panel {
  width: 75%;
}

.container .right-panel {
  width: 25%;
}

/*ScoreBoard */

.scoreboard {
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: var(--dark);
  border: none;
  border-radius: 5px;
  color: var(--whiter);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 15%;
}

.btn:hover {
  opacity: .5;
  transition: opacity .5s ease-out;
}

.start-quiz {
  font-weight: 600;
}

.submit-ans {
  width: 20%;
}

#welcome {
  display: block;
}

#question-card {
  display: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.question-container .question-number, .question {
  font-weight: 800;
}

/*Leaderboard input form*/

#leaderboard {
  display: none;
}

.leaderboard-form .leaderboard-form-details {
  margin: 10px 0;
}